src/main/mule/simplecicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a93ffc6-664e-4bf3-b6a2-8ba55400b6e0" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="simplecicdFlow" doc:id="5b394085-1d5f-4636-a17f-2cbfa2e4b80c" >
		<http:listener doc:name="Listener" doc:id="4b35eb23-8ff2-4092-b03a-a7efa6aec54b" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="17aff89e-9f9d-4903-a204-7e8f296aee34" message='#["Hello World X"]'/>
		<set-variable value="#[attributes.queryParams['number']]" doc:name="number" doc:id="dacccaa0-403d-4cbc-ba5f-71d4dcd8012f" variableName="number"/>
		<set-payload value='#[output application/json
---
{
	"message": "Hello"
}]' doc:name="Set Payload" doc:id="4a9bef57-ea51-4c17-825a-850a5523928a" />
	</flow>
</mule>
